@unicss;

:root{
  --color-primary: #fe007a;
  --color-secondary: #7031fe;
  --color-secondary-100: #eae2ff;
}
body, button, input, select, textarea {
  font-family: "Barlow", sans-serif;
}
button{
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Mozilla Headline", sans-serif;
}
input,
textarea,
select {
  font-size: 16px;
}
@supports (height: 100dvh) {
  .dialog { height: 100dvh; }
}